html {
	background-color: #E4F6F8;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left: 200px;
	margin-right: 200px;
	overflow-x: hidden;
}

/***** Site Header *****/
#site-header a {
	text-decoration: none;
	color: black;
}
#site-header p {
	display: inline-block;
}

#site-header #website-name {
	font-size: 1.125rem;
	margin: 24px 0 0 0;
}

#site-header #website-name::before {
	content: url('../../img/star.svg');
	vertical-align: middle;
	display: inline-block;
}

#site-header #email {
	position: absolute;
	font-size: 16px;
	right: 250px;
	top: 24px;
	color: #333;
}

#site-header #email::after {
	content: url('../../img/gmail.svg');
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
}